<html>
  <head> 
    <title> Create User App </title>
  </head>
  <body>
    <h1> verifier route only people with verifier role are allowed to access this.</h1>
    <h2>{{name}}</h2>
    <div class="user_card" style="border: 2px;">
    {{#each users}}
      <h4>Name {{this.username}}</h4>
      <p>Enabled {{this.enabled}}</p>
      {{#unless enabled}}
        <p>{{this}}</p>
        <form action="/verifier" method="post">
          <input type="text" name="user_id_field" value={{this.id}}>
          <input type="text" name="user_data_field" value={{this}}><br>
          <input type="submit" value="Enable the user">
        </form>
      {{/unless}}
    {{/each}}
    </div>
    <div class="nav">
      <ul>
        <li><a href="/logout">Logout</a></li>
      </ul>
    <div>
  </body>
<html>
 <!-- <form action="/create" method="post">
        <div>
          <label for="user_name">Enter a user name: </label>
          <input id="user_name" type="text" name="user_name_field">
        </div> -->
